---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Adrián Acosa | Full-Stack Developer">
  <header>
    <nav class="text-[#35bcbf] bg-[#263849]">
      <ul class="flex flex-row p-4">
        <li class="px-2"><a href="/">Home</a></li>
        <li class="px-2"><a href="/about">About</a></li>
        <li class="px-2"><a href="/projects">Projects</a></li>
        <li class="px-2"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="p-4">
      <h1 class="text-4xl text-center font-bold">Adrián Acosa Sánchez</h1>
      <h2 class="text-2xl text-center">Full-Stack Developer</h2>
    </div>
  </main>
</Layout>
